.App-options {
    display: flex;
}
  
.App-options-option {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    pad: 0 5px;
    cursor: pointer;
    min-width: 120px;
}